/* new items */
.new-items {
    background-color: #ccceffe8;
    margin: 3%;
    border: 2px solid var(--darkBlue);
    border-radius: 10px;
}

.card-title-new-items {
    display: flex;
}

.new-item-cards {
    display: flex;
    justify-content: space-evenly;
}

#new-items-h4 {
    padding: 1% 0 1% 1%;
    font-size: 24px;
}

#new-items-version {
    font-size: 16px;
    margin: 2% 0 2% 0;
    background-color:  #e6dfdf;
}

#see-all-new-item {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 2%;
    text-decoration: none;
}

/* quick stats */
.quick-stats {
    background-color: white;
    margin: 3%;
    border: 2px solid var(--darkBlue);
    border-radius: 10px;
}

.quick-stat-display {
    display: block
}

h2 {
    margin: 1%;
}

.progress-bar {
    justify-content: stretch;
    width: 70%;
    padding: 1%;
}

h4 {
    margin: 1%;
}

.crafting-progress-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.clothing-progress-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.furniture-progress-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1%;
}

#crafting-progress-bar {
    margin: 1%;
    border-radius: 20px;
}

#clothing-progress-bar {
    margin: 1%;
    border-radius: 20px;
}

#furniture-progress-bar {
    margin: 1%;
    border-radius: 20px;
}



