h1 {
    margin: 1.5rem;
    color: white;
}

.header-container {
    display: flex;
    background-color: var(--lighterBlue);
    justify-content: space-between;
}

.header-form {
    display: flex;
}

#header-search-input {
    flex-grow: 1;
    height: 32px;
    width: 40vw;
    padding: 1rem;
    margin: 2rem;
    font-size: 16px;
    border-radius: 25px;
}

#header-search-btn {
    height: 32px;
    margin: 2rem;
    border: solid 1px;
    color: white;
}

#hamburger-menu {
    color: white;
}