h1 {
    margin: 1.5rem;
    color: white;
}

.header-container {
    display: flex;
    background-color: var(--lighterBlue);
    justify-content: space-between;
}

#hamburger-menu {
    color: white;
}