.navbar-container {
    background-color: var(--darkBlue); 
    height: 3rem;
    display: flex;
    align-items: center;
}

.tabs {
    color: var(--lightGold);
    text-decoration: none;
    padding: 1rem;
}

hr {
    background-image: linear-gradient(to right, var(--lightGold) , var(--darkGold));
    height: 5px;
}