:root {
    --darkBlue: #000052;
    --lighterBlue: #3F48AC;
    --darkGold: #EBB968;
    --lightGold: #FEEAC0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    background-image: url("./assets/background.jpg");
}

.hidden {
    display: none;
}

